<section class="mat-elevation-z1 container origin-container">
  <span class="box">
    <mat-checkbox
      class="origin-checkbox"
      *ngFor="let item of checkboxs"
      [name]="item.origin"
      [checked]="item.checked"
      (change)="toggleVidoesOrigin($event)"
      >{{ item.text }}</mat-checkbox
    >
  </span>
  <button
    mat-button
    color="warn"
    [disabled]="!videos?.length"
    (click)="showClearDialog()"
  >
    清除收藏
  </button>
</section>

<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="spiner-container">
    <mat-spinner class="spiner" [diameter]="48"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="videos.length <= 0; else elseTemplate">
    <mat-list class="mat-elevation-z1 container empty-list">
      <mat-list-item>
        <p>没有收藏，快去添加吧</p>
      </mat-list-item>
      <mat-list-item>
        <a class="link" [routerLink]="['/']">返回</a>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <ng-template #elseTemplate>
    <section class="list-container">
      <ul class="mat-elevation-z1 container video-item-list">
        <app-video-item
          *ngFor="let video of renderVideos; let index = index"
          [page]="'favorite'"
          [video]="video"
        ></app-video-item>
      </ul>
    </section>
  </ng-template>
</ng-template>
