<section class="container origin-container">
  <span class="box">
    <mat-checkbox
      class="origin-checkbox"
      *ngFor="let item of checkboxs"
      [name]="item.origin"
      [checked]="item.checked"
      (change)="toggleVidoesOrigin($event)"
      >{{ item.text }}</mat-checkbox
    >
  </span>
  <button mat-button color="warn">清除收藏</button>
</section>

<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="spiner-container">
    <mat-spinner class="spiner" [diameter]="48"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <ng-container *ngIf="videos.length <= 0; else elseTemplate">
    <div class="container">
      <p>没有数据</p>
      <a [routerLink]="['/']">返回</a>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <ul class="container video-item-list">
      <app-video-item
        *ngFor="let video of renderVideos; let index = index"
        [video]="video"
      ></app-video-item>
    </ul>
  </ng-template>
</ng-template>
