<mat-list class="container about" role="list">
  <mat-list-item>
    👏欢迎提出建议或改进
  </mat-list-item>
  <mat-list-item role="listitem">
    <span class="left">Mail：</span>
    <a class="link" href="mailto:xiaoranran1993@outlook.com"
      >xiaoranran1993@outlook.com</a
    >
  </mat-list-item>
  <mat-list-item role="listitem">
    <span class="left">Github：</span>
    <a
      class="link"
      href="https://github.com/xrr2016/top-video"
      target="_blank"
      rel="noopener noreferrer"
      >https://github.com/xrr2016/top-video</a
    >
  </mat-list-item>
  <mat-list-item role="listitem">
    <span class="left">Feekback：</span>
    <a
      class="link"
      href="https://github.com/xrr2016/top-video/issues/new"
      target="_blank"
      rel="noopener noreferrer"
      >https://github.com/xrr2016/top-video/issues/new</a
    >
  </mat-list-item>
  <mat-list-item>
    <a class="link" [routerLink]="['/']">返回</a>
  </mat-list-item>
</mat-list>
