<mat-toolbar class="app-toolbar">
  <mat-toolbar-row class="container app-toolbar__row">
    <a mat-button [routerLink]="'/'">{{ title | uppercase }}</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="'favorite'">我的收藏</a>
    <a mat-menu-item [routerLink]="'about'">关于本站</a>
  </mat-menu>
</mat-toolbar>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
