<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row class="container app-toolbar__row">
    <span>{{ title | uppercase }}</span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
  <mat-tab label="Bilibili">
    <mat-list class="container">
      <mat-list-item
        matRipple
        *ngFor="let folder of folders; let index = index; trackBy: index"
      >
        <p>{{ index }}</p>
        <h4 mat-line>{{ folder.name }}</h4>
        <mat-icon mat-list-icon>folder</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Acfun">
    <div class="container">Content 2</div>
  </mat-tab>
  <mat-tab label="腾讯视频">
    <div class="container">Content 3</div>
  </mat-tab>
  <mat-tab label="爱奇艺">
    <div class="container">Content 2</div>
  </mat-tab>
  <mat-tab label="优酷视频">
    <div class="container">Content 3</div>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
