<mat-tab-group
  class="videos-tabs-group"
  mat-stretch-tabs
  animationDuration="0ms"
  (selectedTabChange)="onSelectedTabChange($event)"
>
  <mat-tab label="Bilibili"></mat-tab>
  <mat-tab label="Acfun"></mat-tab>
</mat-tab-group>

<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="spiner-container">
    <mat-spinner class="spiner" [diameter]="48"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <mat-action-list class="tab-list">
    <div class="container">
      <mat-button-toggle-group
        appearance="legacy"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>

      <app-video-item
        *ngFor="let video of videos; let index = index"
        [video]="video"
      ></app-video-item>
    </div>
  </mat-action-list>
</ng-template>

<!-- <img class="cover" [src]="video.image" [alt]="video.title" /> -->
