<mat-tab-group
  class="videos-tabs-group"
  animationDuration="0ms"
  (selectedTabChange)="onSelectedTabChange($event)"
>
  <mat-tab label="Bilibili"> </mat-tab>
  <mat-tab label="Acfun"> </mat-tab>
  <mat-tab label="腾讯视频"> </mat-tab>
  <mat-tab label="爱奇艺"> </mat-tab>
  <mat-tab label="优酷视频"> </mat-tab>
</mat-tab-group>

<ng-container *ngIf="isLoading; else elseTemplate">
  <div class="spiner-container">
    <mat-spinner class="spiner" [diameter]="48"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <ng-container
    *ngIf="origin === 'TENCENT' || origin === 'YOUKU'; else elseTemplate"
  >
    <div *ngFor="let item of videos; let index = index">
      <mat-action-list class="tab-list">
        <div class="container">
          <p>{{ item.type }}</p>
          <app-video-item
            *ngFor="let video of item.list; let index = index"
            [video]="video"
          ></app-video-item>
        </div>
      </mat-action-list>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <mat-action-list class="tab-list">
      <div class="container">
        <app-video-item
          *ngFor="let video of videos; let index = index"
          [video]="video"
        ></app-video-item>
      </div>
    </mat-action-list>
  </ng-template>
</ng-template>

<!-- <img class="cover" [src]="video.image" [alt]="video.title" /> -->
