<mat-tab-group
  class="tabs-group"
  mat-stretch-tabs
  animationDuration="0ms"
  (selectedTabChange)="changeOrigin($event)"
>
  <mat-tab label="Bilibili"></mat-tab>
  <mat-tab label="Acfun"></mat-tab>
</mat-tab-group>

<section class="home-container">
  <mat-button-toggle-group
    class="toggle-group"
    name="channel"
    appearance="legacy"
    aria-label="channel"
    vertical
  >
    <mat-button-toggle
      *ngFor="let channel of origin.channels"
      [value]="channel.id"
      [checked]="channel.selected"
      (change)="changeChannel(channel)"
      >{{ channel.title }}</mat-button-toggle
    >
  </mat-button-toggle-group>
  <ng-container *ngIf="isLoading; else elseTemplate">
    <mat-spinner class="spiner" [diameter]="48"></mat-spinner>
  </ng-container>
  <ng-template #elseTemplate>
    <ol class="tab-list">
      <app-video-item
        *ngFor="let video of videos; let index = index"
        [video]="video"
      ></app-video-item>
    </ol>
  </ng-template>
</section>
