/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  color: #324b64;
  line-height: 1.5;
  background: #f4f5f5;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.container {
  position: relative;
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
  .mat-list-item-content {
    padding: 0 !important;
  }
  .mat-button-toggle-label-content {
    text-align: center;
  }
}

.tabs-group {
  background-color: #fff;
  .mat-tab-labels {
    margin: 0 auto;
    max-width: 1000px;
  }
}
