<div class="video">
  <mat-list-item class="video-item">
    <a class="title" matLine [href]="video.url" target="_brank">
      <span class="rank">{{ video.rank }}</span>
      <span class="text">{{ video.title }}</span>
    </a>
    <p class="info" matLine>
      <span class="score">played: {{ video?.play }}</span>
      <span class="author">author: {{ video.author }}</span>
    </p>
  </mat-list-item>
  <button mat-icon-button>
    <mat-icon class="icon" (click)="toggleFavorite()">
      {{ video.favorite ? 'favorite' : 'favorite_outline' }}
    </mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
